autostart/
go/
BraveSoftware/
configstore/
kwallet6rc
eas-cli-nodejs
kwalletrc
environment.d
nautils/
pulse/
yay/
i3/
github-copilot/
nvim/
pcmanfm/
mimeapps.list
kde.org
nwg-look/
systemd/
xfce4/
xsettingsg
zor/
nextjs-nodejs/
warp-terminal/
ngrok/
fish/
Termius/
Code/
pacmanfm/
Thunar/
configstore/
google-chrome/
libfm/
Postman/
dconf/
matplotlib/
dolphinrc
pypoetry/
uv/
vlc/
orchestry/
procps/
pypoetry/
yazi/
vscode-sqltools/
create-next-app-nodejs/
spotify/
