URxvt.transparent:     true
URxvt.shading:         50
URxvt.blurRadius:      0
URxvt.background:      #d3d3d3
URxvt.foreground:      #1d1f21



! # NEW
! ## Enable a color supported XTerm ##
XTerm.termName: xterm-256color

! ## Set xterm window size ##
XTerm*VT100.geometry: 130x50

! ## Set font and fontsize ##
XTerm*faceName: JetBrains Mono
XTerm*faceSize: 11

! VT Font Menu: Unreadable
XTerm*faceSize1: 8
! VT Font Menu: Tiny
XTerm*faceSize2: 10
! VT Font Menu: Small
XTerm*faceSize3: 12
! VT Font Menu: Medium
XTerm*faceSize4: 16
! VT Font Menu: Large
XTerm*faceSize5: 22
! VT Font Menu: Huge
XTerm*faceSize6: 24

! ## Scrollbar ##
XTerm*vt100.scrollBar: false

! Do not scroll when there is new input
XTerm*scrollTtyOutput: false

! Scrolling by using Shift-PageUp / Shift-PageDown or mousewheel by default ##
! Lines of output you can scroll back over
XTerm*saveLines: 15000

! Enable copy/paste hotkeyes (mouse highlight = copy ,  shift+Insert = paste)
XTerm*selectToClipboard: true

! ## Select text ##
XTerm*highlightSelection: true
! Remove trailing spaces
XTerm*trimSelection: true

! ## Keybindings ##
XTerm*vt100.translations: #override \n\
  Ctrl <Key>-: smaller-vt-font() \n\
  Ctrl <Key>+: larger-vt-font() \n\
  Ctrl <Key>0: set-vt-font(d) \n\
  Ctrl Shift <Key>C: copy-selection(CLIPBOARD) \n\
  Ctrl Shift <Key>V: insert-selection(CLIPBOARD)

! ~~~~~~~~~~~~~~~~~~
! ## Color Themes ## 
! ~~~~~~~~~~~~~~~~~~
!
! based on snazzy color theme
! https://github.com/olstenlarck/urxvt-xterm-snazzy/blob/7c34009a19ade65271e26ef065c678b0fa2abd0d/.Xdefaults
!
XTerm*title: XTerminal
XTerm*background: #5e81ac
XTerm*foreground: #030303

! original #86a2b0
XTerm*colorUL: #eff0eb
XTerm*underlineColor: #eff0eb

! ! black
XTerm*color0  : #2E3436
XTerm*color8  : #686868
!
! ! red
XTerm*color1  : #ff5c57
XTerm*color9  : #ff5c57
!
! ! green
XTerm*color2  : #5af78e
XTerm*color10 : #5af78e
!
! ! yellow
XTerm*color3  : #f3f99d
XTerm*color11 : #f3f99d
!
! ! blue
XTerm*color4  : #57c7ff
XTerm*color12 : #57c7ff
!
! ! magenta
XTerm*color5  : #ff6ac1
XTerm*color13 : #ff6ac1
!
! ! cyan
XTerm*color6  : #9aedfe
XTerm*color14 : #9aedfe
!
! ! white
XTerm*color7  : #f1f1f0
XTerm*color15 : #eff0eb

