/* colors */

/** {
  al:  #00000000;
  bg:  #1b1b25;
  se:  #282a36;
  fg:  #dedede;
  ac:  #16161e;
  br:  #343746;
}*/


/* Color-Scheme */

* {
    BG:    #1A1A27;
    BGA:   #30343B;
    FG:    #D8D8D8;
   BDR:   #62AEEF;
    SEL:   #62AEEF;
    UGT:   #E06B74;
	IMG:   #E5C07A;
	ON:    #98C379;
	OFF:   #E06B74;
}
